@model MKT.Logica.Models.DO_Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
        <meta name="author" content="GeeksLabs">
        <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Login Page 2 | Creative - Bootstrap 3 Responsive Admin Template</title>

        <!-- Bootstrap CSS -->
        <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
        <!-- bootstrap theme -->
        <link href="@Url.Content("~/css/bootstrap-theme.css")" rel="stylesheet">
        <!--external css-->
        <!-- font icon -->
        <link href="@Url.Content("~/css/elegant-icons-style.css")" rel="stylesheet" />

        <link href="@Url.Content("~/css/font-awesome.css")" rel="stylesheet" />
        <!-- Custom styles -->
        <link href="@Url.Content("~/css/style.css")" rel="stylesheet">
        <link href="@Url.Content("~/css/style-responsive.css")" rel="stylesheet" />

        <script src="@Url.Content("~/js/jquery.js")"></script>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
            <![endif]-->
        <!-- =======================================================
            Theme Name: NiceAdmin
            Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
            Author: BootstrapMade
            Author URL: https://bootstrapmade.com
        ======================================================= -->
    </head>

    <body class="login-img3-body">
        <div class="container">
            
                    <form class="login-form" role="form">
                        <div class="login-wrap">
                            <p class="login-img"><i class="icon_lock_alt"></i></p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon_profile"></i></span>
                                <input id="txtUsername" type="text" class="form-control" placeholder="Username" autofocus>
                                @*@Html.TextBoxFor(model => model.Usuario, new { id = "email", @class = "form-control", placeholder = "Usuario" })*@
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                                <input id="txtPassword" type="password" class="form-control" placeholder="Password">
                                @*@Html.PasswordFor(model => model.Contrasena, new { id = "password", @class = "form-control", placeholder = "Contraseña" })*@
                            </div>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me"> Remember me
                                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                            </label>
                            <button class="btn btn-primary btn-lg btn-block" onclick="login()">Login</button>
                        </div>
                    </form>
                    
            <div class="text-right">
                <div class="credits">
                    <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->

                </div>
            </div>
        </div>
    </body>

</html>

<script>
    function login() {
        alert("Hla");
        var urlSave = '@Url.Action("Ingresar", "Login")';
        var _usuario = $("#txtUsername").val();
        var _contrasena = $("#txtPassword").val();

        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ usuario: _usuario, contrasena : _contrasena  }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
            },
            error: function (result) {
            }
        });
    }
</script>