<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración MKT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <!--header start-->
        <header class="header dark-bg">

            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="index.html" class="logo">Nice <span class="lite">Admin</span></a>
            <!--logo end-->

        </header>
        <!--header end-->

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="">
                        <a class="" href="@Url.Action("Index", "Home")">
                            <i class="icon_house_alt"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <!--Begin Empleados-->
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span>Empleados</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("IrAltaUsuario","Home")">Alta de empleados</a></li>
                            <li><a class="" href="@Url.Action("IrViewAllGerentes","Home")">Empleados</a></li>
                        </ul>
                    </li>
                    <!--End Empleados-->

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_clipboard"></i>
                            <span>SIMS</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("AltaSIM","SIM")">Carga de SIMS</a></li>
                            <li><a class="" href="@Url.Action("VerSIMS","SIM")">Ver SIMS</a></li>
                            <li><a class="" href="@Url.Action("Index","Diario")">Cargar diario</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_clipboard"></i>
                            <span>Reportes</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("GetResumen","Reportes")">Ver resumen</a></li>
                            
                        </ul>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->

        <!--Footer start-->
        <div class="text-right">
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->
            </div>
        </div>
        <!--Footer end-->
    </section>
    <!-- container section end -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/JSTheme")
    @RenderSection("scripts", required: false)
</body>
</html>